<!DOCTYPE html>
<html>
<head>
  <title>editor</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>
<body>
  <div>
    <div class="editor-container .clearfix">
      <div class="left-side">
        <div id="goml-editor" style="height: 50vh"></div>
        <div id="javascript-editor" style="height: 50vh"></div>
      </div>
      <div class="right-side">
        <div class="result">
          <div id="target">
            <iframe id="jthree-iframe"></iframe>
          </div>
        </div>
        <div class="run">
          <button id="execute">run</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
