<!DOCTYPE html>
<html>
<head>
  <title>editor</title>
</head>
<body>
  <div ng-app="EditorApp">
    <div class="editor-container" ng-controller="EditorCtrl as ctl">
      <div class="goml-data">
        <textarea ng-model="ctl.state.goml" ng-keyup="ctl.updateUrl()"></textarea>
      </div>
      <div class="js-data">
        <textarea ng-model="ctl.state.js" ng-keyup="ctl.updateUrl()"></textarea>
      </div>
      <div class="result">
        <div id="target"></div>
      </div>
      <div class="run">
        <button ng-click="ctl.run()">run</button>
      </div>
    </div>
  </div>
</body>
</html>
